$title_color: $veryDarkDesaturatedBlue
$content_color: $darkGrayishBlue

$title_size: 100%
$content_size: 90%
  
.accordion
  list-style-type: none
  &__item
    border-bottom: solid 1px $lightGrayishBlue
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-top: 5%
    padding: 3% 0
    
    &-header
      @include flex-row (space-between, center)
      margin-bottom: 3%
    &-title
      color: $veryDarkGrayishBlue
      font-size: $title_size
      @include breakpoint-up (medium)
        font-size: $title_size + 3
      font-weight: 500
    &-btn
      transition: all .7s ease-in-out
      img
        transition: all .7s ease-in-out
    &-text
      visibility: hidden
      color: $content_color
      font-size: $content_size

      @include breakpoint-up (medium)
        font-size: $content_size + 3
     
      line-height: 1.5em
      height: 0px

.activate
  transition: all .7s ease-in-out

  & .accordion
    &__item
      &-title
        color: $title_color
        font-weight: 800
      &-btn
        img
          transform: rotate(180deg)
      &-text
        display: inline
        animation: content-display 0.8s ease-in-out
        visibility: visible
        opacity: 1
        padding: 3% 0
        height: max-content


@keyframes content-display
  0%
    visibility: visible
    opacity: 0
    transform: translateX(60px)
    padding: 3% 0
    height: max-content

  50%
    visibility: visible
    opacity: 0.5
    transform: translateX(30px)
    height: max-content

  100%
    visibility: visible
    opacity: 1
    transform: translateX(0px)
    height: max-content
    padding: 3% 0



.deactivate
  transition: all .7s ease-in-out
  & .accordion
    &__item-text
      animation: content-hidden 0.8s ease-in-out
      visibility: hidden


@keyframes content-hidden
  0%
    opacity: 1
    transform: translateX(0px)
    visibility: visible
    padding: 3% 0
    height: max-content
  50%
    opacity: 0.5
    transform: translateX(30px)
    visibility: visible
    padding: 3% 0
    height: max-content
  100%
    opacity:0
    transform: translateX(60px)
    visibility: hidden
    padding: 3% 0
    height: max-content



